[defaults]
library = /home/cumulus/ansibledemos/cumulus-linux-ansible-modules/library:/usr/share/ansible
# only use in lab settings. Reference:
# http://docs.ansible.com/intro_getting_started.html#host-key-checking
host_key_checking=False
