{{ header_tmpl }}
{% set intvars = interfaces[ansible_hostname] -%}
{% set loopback_ip = intvars.loopback -%}
{% set int_unnumbered = intvars.int_unnumbered -%}
{% set swbridges = intvars.bridges -%}

interface lo
  ip ospf area 0
!
{% for item in int_unnumbered -%}
interface {{item }}
  ip ospf network point-to-point
  ip ospf area 0
!
{% endfor -%}
!
router-id {{ loopback_ip }}
router ospf
  auto-cost reference-bandwidth  40000
  ospf router-id {{ loopback_ip }}
{% if hostnetworkinterfaces is defined -%}
  {% for item in hostnetworkinterfaces  %}
interface {{item }}
  ip ospf network point-to-point
  ip ospf area 0
  {% endfor %}
{% endif -%}
!
