{{ header_tmpl }}
{% set intvars = interfaces[ansible_hostname] %}
{% set loopback_ip = intvars.loopback -%}
{% set swbridges = intvars.bridges -%}

auto lo
iface lo inet loopback

{% if loopback_ip is defined -%}

auto lo:1
iface lo:1 inet static
  address {{ loopback_ip }}/32
{% endif -%}

auto eth0
iface eth0 inet dhcp

{% if intvars.int_unnumbered is defined -%}
{% for item in intvars.int_unnumbered -%}

auto {{ item }}
iface {{ item }} inet static
  address {{ loopback_ip }}/32
{% endfor %}
{% endif -%}

{% if intvars.int_numbered is defined -%}
{% for intname in intvars.int_numbered.keys() -%}

auto {{ intname }}
iface {{ intname }} inet static
  address {{ intvars.int_numbered[intname].ip_and_mask }}
{% endfor -%}
{% endif -%}

{% if swbridges is defined -%}
  {% for bridgename in swbridges.keys() -%}

auto {{ bridgename }}
iface {{ bridgename }} inet static
  address {{ swbridges[bridgename].ip_and_mask }}
  bridge_ports {{ swbridges[bridgename].members|join(' ') }}
  mstpctl_stp on
  {% endfor -%}
{% endif -%}

